<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developers.devworms.daimler_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.developers.devworms.daimler_android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.developers.devworms.daimler_android.permission.C2D_MESSAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashInicioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistroExito"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ingresar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cumbreActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sedeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".agendaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".avisosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentacionesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fotografiasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityWeb"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".prensa_menuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cumbre2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sede2Activity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- BEGIN - PUSH NOTIFICATIONS WITH GOOGLE CLOUD MESSAGING (GCM) -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.developers.devworms.daimler_android" />
            </intent-filter>
        </receiver>

        <service
            android:name=".PushListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- END - PUSH NOTIFICATIONS WITH GOOGLE CLOUD MESSAGING (GCM) -->
        <activity
            android:name=".FotoSelect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".notifActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fotografias2Activity"
            android:label="@string/title_activity_fotografias2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".fotografias3Activity" />
        <activity android:name=".fotoMenuActivity" />
        <activity android:name=".menuActActivity" />
        <activity android:name=".agendaDetalleActivity"></activity>
    </application>

</manifest>